body{
    margin: 0;
    font-family: sans-serif;
    background-color: lightgrey;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 50%;
    border: 1px solid grey;
    height: auto;
    background-color: white;
}

h1{
    text-align: center;
}

form input{
    border: none;
    display: block;
    padding: 0;
    width: 90%;
    font-size: 1.1rem;
}

label{
    display: block;
    margin-bottom: 10px;
    color: grey;
    font-size: 0.8rem;
    font-weight: bold;
}

select{
    border: none;
    padding: 0;
    width: 90%;
    font-size: 1.1rem;
}



input:focus{
    outline: none;
}

select:focus{
    outline: none;
}


.button-container{
    text-align: center;
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


button{
    font-size: 1.3rem;
    padding: 15px 20px;
    margin: 5px 5px; 
}

.button-container #add{
    background-color: grey;
    color: white;
}

.button-container #delete{
    background-color: red;
    color: white;
}

.button-container i{
    color: white;
}


.description-container{
    padding: 10px 30px 30px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.category-date-container{
    display: flex;
    flex-grow: 1;
}



.category-container{
    width: 50%;
    padding: 10px 30px 30px;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;

}

.date-container{
    width: 50%;
    padding: 10px 30px 30px;
    border-bottom: 1px solid lightgrey;

}

@media screen and (max-width: 1020px){

    .category-date-container{
        display: block;
    }

    .category-container{
        width: 100%;
    }
    .date-container{
        width: 100%;
    }
    
}



/* tasks */


.tasks-container{
    border-top: 1px solid lightgrey;
    margin: 0 40px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
    border-bottom: 1px solid lightgrey; 
}


.task input{
    width: 20px;
    height: 20px;

}

.left-container{
    display: flex;
}


.description{
    margin: 0 0 5px 20px;
}

.date{
    display: inline;
    font-size: 0.9rem;
    color: grey;
    margin: 10px 0 5px 5px;
    
}

.left-container i{
    margin-left: 20px;
}

.right-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 40px;
    background-color: purple;
    color: white;
}

input[type=checkbox]:checked ~ div p{
    color: red;
    text-decoration: line-through;
}


