body{
    margin: 0;
    font-family: sans-serif;
    background-color: lightgrey;
    box-sizing: border-box;
    background: url('../images/background_img.png');
    background-size: cover;
    
}

/* Entire TODO list container */
.container{
    margin: 0 auto;
    width: 50%;
    border: 1px solid grey;
    height: auto;
    background-color: white;
    box-shadow: 0px 0px 20px 5px black;
}

/* Heading */
h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}


/* form Styling */
form input{
    border: none;
    display: block;
    padding: 0;
    width: 90%;
    font-size: 1.1rem;
}

label{
    display: block;
    margin-bottom: 10px;
    color: grey;
    font-size: 0.8rem;
    font-weight: bold;
}

select{
    border: none;
    padding: 0;
    width: 90%;
    font-size: 1.1rem;
}


input:focus{
    outline: none;
}

select:focus{
    outline: none;
}

/* Form Buttons */

.button-container{
    text-align: center;
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

button{
    font-size: 1.3rem;
    padding: 15px 20px;
    margin: 5px 5px; 
    border-radius: 10px;
    border: none;
}

/* Button Effects */
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.button-container button{

    color: white;
}

.button-container #delete i{
    color: orangered;
    margin-right: 5px;
}

.button-container #add i{
    color: lightgreen;
    margin-right: 5px;
}

/* Form description container */
.description-container{
    padding: 10px 30px 30px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

/* Form category and date container */
.category-date-container{
    display: flex;
    flex-grow: 1;
}

/* Form category container */
.category-container{
    width: 50%;
    padding: 10px 30px 30px;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;

}

.category{
    font-weight: bold;
}

/* Form date container */
.date-container{
    width: 50%;
    padding: 10px 30px 30px;
    border-bottom: 1px solid lightgrey;

}

/* For screen width below 1020px */
@media screen and (max-width: 1020px){

    .category-date-container{
        display: block;
    }

    .category-container{
        width: 100%;
    }
    .date-container{
        width: 100%;
    }
    
}



/* ----------------Tasks List---------------- */


/* Tasks Container */
.tasks-container{
    border-top: 1px solid lightgrey;
    margin: 0 40px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Individual task Container */
.task{
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
    border-bottom: 1px solid lightgrey; 
}

/* checkbox */
.task input{
    width: 20px;
    height: 20px;

}

/* left container to contain checkbox, task description and date */
.left-container{
    display: flex;
}


.description{
    margin: 0 0 5px 20px;
    font-weight: bold;
}

.date{
    display: inline;
    font-size: 0.9rem;
    color: grey;
    margin: 10px 0 5px 5px;
    
}

.left-container i{
    margin-left: 20px;
}

/* right container to contain the task category */
.right-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 40px;
    color: white;
}


/* Different colors for different task categories */
.personal{
    background-color: green;
    box-shadow: 3px 3px 10px 1px green; 
}

.work{
    background-color: orangered;
    box-shadow: 3px 3px 10px 1px orangered;
}

.school{
    background-color: #493EA7;
    box-shadow: 3px 3px 10px 1px #493EA7;
}

.cleaning{
    background-color: purple;
    box-shadow: 3px 3px 10px 1px purple;
}


.other{
    background-color: brown;
    box-shadow: 3px 3px 10px 1px brown;
}



/* Different colors for different task descriptions */
.personal-color{
    color: green;
}

.work-color{
    color: orangered;
}

.school-color{
    color: #493EA7;
}

.cleaning-color{
    color: purple;
}


.other-color{
    color: brown;
}


/* checkbox line-through when checked */
input[type=checkbox]:checked ~ div p{
    color: red;
    text-decoration: line-through;
}


